@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 0.2; }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-out forwards;
}

.animate-drop-in {
  animation: drop-in 1s ease-out forwards;
}

body {
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw; /* 防止任何超寬元素影響整體寬度 */
  overflow-x: hidden;
}
